#Instructions for setting up a local environment
#Run MissionMain ,it will deploy all other verticles, but follow the instructions below to setup your local environment, otherwise the verticles wont deploy.

#Start infinspan server
docker run -it -m 2G -p 11222:11222 -e "APP_USER=user" -e APP_PASS="changeme" jboss/infinispan-server

#Start Kafka
bin/zookeeper-server-start.sh config/zookeeper.properties
bin/kafka-server-start.sh config/server.properties

#Setup topics
bin/kafka-topics.sh --create --zookeeper localhost:2181 --replication-factor 1 --partitions 1 --topic topic-mission-command
bin/kafka-topics.sh --create --zookeeper localhost:2181 --replication-factor 1 --partitions 1 --topic topic-mission-event

#Listening to Topics
bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --topic topic-mission-command --from-beginning
bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --topic topic-mission-event --from-beginning

# Writing to Topics (If only testing mission Service, you can use the first line only)
bin/kafka-console-producer.sh --broker-list localhost:9092 --topic topic-mission-command
bin/kafka-console-producer.sh --broker-list localhost:9092 --topic topic-mission-event


